.col-lg-1{
    border: 2px solid blue;
    background-color: gold;
}
.col-lg-4{
    border:2px solid blue;
    background-color: gold;
}
.col-lg-3{
    border:2px solid blue;
    background-color: gold;
    
}