.f1{
    background-color: red;
    padding: 30px;
}
.f2{
    background-color: darkgreen;
    padding: 30px;
    
}
.f3{
    background-color: yellow;
    padding: 20px;
}
.f4{
    background-color: blue;
    padding: 40px;
}
.f5{
    background-color: darkgrey;
    padding: 40px;
}
.f6{
    background-color: honeydew;
    padding: 40px;
}
.f7{
    background-color: lightgreen;
    padding: 100px;
}
.f8{
    background-color: peru;
    padding: 100px;
}
.f9{
    background-color: cadetblue;
    padding: 20px;
}
.f10{
    padding: 50px;
}