.f1{
    background-color: chartreuse;
    border: 2px solid black;
    padding: 60px;

}
.f2{
    background-color: aqua;
    border: 2px solid black;
    padding: 60px;
}
.f3{
    background-color: peru;
    border:2px solid black;
    padding: 60px;
}
.f4{
    background-color: blueviolet;
    border:2px solid black;
    padding: 60px;
}
.f5{
    background-color: blanchedalmond;
    border:2px solid black;
    padding: 60px;
}
.f6{
    background-color: chocolate;
    border:2px solid black;
    padding: 60px;
}
.f7{
    background-color: darkslategrey;
    border:2px solid black;
    padding: 60px;
}